p {
    color: black;
  }

  body { 
     background-color: antiquewhite;
    color:antiquewhite;
    font-family: Arial, sans-serif;
    position:relative;
    align-items: center;
    
  }
  
  * {
        font-size: 30px;
      font-weight: 700;
      color: black;
      position:relative;
      align-items:center;
      font-family:Arial, Helvetica, sans-serif;
  }
  
  
/* flexbox */
.flexbox-container{
  display:flex;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  min-height: 100px;

}

.flexbox-item-1{
width: 1800px;
margin: 0px;
flex: 1 0 0px; 
background-color: rgb(209, 153, 153);
display:flex;
justify-content: space-around;
align-items: stretch;
flex-wrap:wrap;
align-content: center;
min-height: 100px;

}

.flexbox-item-2{
  width: 1800px;
  margin: 0px;
  flex: 1 0 0px;
  background-color: antiquewhite;
  display:flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap:wrap;
  align-content: center;
  min-height: 100px;
  }
 
  .flexbox-item-3{
  width: 1800px;
  margin: 0px;
  flex: 1 0 0px;
  background-color: rgb(209, 153, 153);
  display:flex;
  justify-content:space-around;
  align-items: stretch;
  flex-wrap:wrap;
  align-content: center;
  min-height: 100px;
  } 

  .flexbox-item-4{
  width: 1800px;
  margin: 0px;
  flex: 1 0 0px;
  background-color: antiquewhite;
  display:flex;
  justify-content:space-around;
  align-items: stretch;
  flex-wrap:wrap;
  align-content: center;
  min-height: 100px;
  } 

  .flexbox-item-5{
  width: 1800px;
  margin: 0px; 
  flex: 1 0 0px;
  background-color: rgb(209, 153, 153);
  display:flex;
  justify-content:space-around;
  align-items: stretch;
  flex-wrap:wrap;
  align-content: center;
  min-height: 100px;
  } 


  /*navbar*/
  @media screen and (max-width: 600px) {
    nav .sideMenuButton {
      display: flex;
    }
    
    nav .navbar {
      display: none;
    }
    
    .sideNavigationBar {
      display: block !important;
    }
    }
    
    .sideNavigationBar {
    height: 100%;
    position:relative;
    top: 0;
    right: 0%;
    background-color: rgb(201, 90, 164);
    overflow-x: hidden;
    transition: 0.3s ease-in;
    padding-top: 60px;
    display: none;
    }
    
    .sideNavigationBar a {
    padding: 8px 8px 8px 40px;
    display: block;
    font-size: 25px;
    font-weight: 500;
    color: #5a0808;
    transition: 0.3s;
    text-decoration: none;
    }
    
    .sideNavigationBar a button {
    padding: 10px 20px;
    border-radius: 10px;
    color: rgb(204, 132, 24);
    font-size: 16px;
    border-style: none;
    font-weight: 700;
    }
    
    .sideNavigationBar a:hover {
    color: rgb(211, 142, 142);
    }
    
    .sideNavigationBar .closeButton {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 20px;
    margin-left: 50px;
    }
    
    .line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 5%;
    }
    
    .line .side1 {
    padding-right: 50px;
    }
    
    .side1 h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: black;
    }
    
    .side1 button {
    width: 200px;
    padding: 12px 20px;
    border-radius: 20px;
    border-style: none;
    color: rgb(214, 146, 146);
    font-size: 17px;
    font-weight: 600;
    }
    
    a {
    text-decoration: none;
    color:black;
    }
  
    @media screen and (max-width: 1060px) {
      .contactMenu {
        flex-direction: column;
        align-items: center;
      }
      .rightside1 {
        display: flex;
        flex-direction: column;
        margin-left: 0px;
      }
      .content1 {
        width: 100%;
        margin-top: 2px;
        color: rgb(209, 153, 153);
      }
      .side2 img {
        width: 95%;
        height: 90%;
      }
      }
      @media screen and (max-width: 600px) {
      .side2 img {
        width: 100%;
      }
      section .topic a {
        font-size: 20px;
      }
      section .topic p {
        font-size: 5px;
      }
      .about .boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .about .boxes .box {
        max-width: 70%;
      }
      }
      
  /* section */
  section .topic a {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  }
  
  .about .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }
  
  .about .boxes .box {
  margin: 10px 20px;
  max-width: calc(100% / 3 - 50px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(214, 98, 98, 0.12);
  cursor: pointer;
  }

/* Contact Page */
.contact {
padding: 20px;
}

.contact .content {
margin: 0 auto;
padding: 30px 0;
}

.content .title {
width: 80%;
text-align: center;
font-weight: bolder;
font-size: 40px;
}

.title {
margin-bottom: 30px;
margin-left: 80px;
}

.contactMenu {
display: flex;
justify-content: space-evenly;
}

.input2 {
margin-top: 10;
}

.label1 {
font-size: 18px;
margin-top: 8px;
margin-bottom: 8px;
font-weight: bolder;
}

.contactMenu .input1 input {
border-radius: 13px;
padding: 6px;
}

.input2 input {
border-color: rgb(209, 153, 153);
width: 400px;
}

.button {
margin-top: 12px;
margin-left: 5px;
}


.rightside1 {
display: flex;
flex-direction: column;
margin-left: 300px;
}

.title1 {
font-size: 18px;
margin-top: 8px;
margin-bottom: 5px;
font-weight: bolder;
}

.content1 {
width: 450px;
margin-top: 2px;
color: rgb(134, 34, 34);
}
/*subscribe*/
.sub {
  margin-top: 2rem;
}

.sub h3 {
  text-align: center;
}

form {
  text-align: center;
  margin: 0.4rem 2rem;
}

/* Footer */
footer {
background: var(--primary-color);
padding: 15px 0;
text-align: center;
font-family: "Poppins", sans-serif;
}

footer .footer span {
font-size: 17px;
font-weight: 400;
color: var(--white-color);
}

footer .footer span a {
font-weight: 500;
color: var(--white-color);
}

footer .footer span a:hover {
text-decoration: underline;
}
